@import (reference) '../mixins/scrollbar.less';

html {
  .appSubtleScrollbar();
}

.scrollbar-thin {
  .appSubtleScrollbar();
}

.scrollbar-none {
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar,
[data-slot='message-scroller-viewport'][data-autoscrolling]::-webkit-scrollbar {
  display: none;
}

[data-slot='message-scroller-viewport'][data-autoscrolling] {
  scrollbar-width: none;
}
