@import (reference) '@/styles/mixins/breakpoints.less';
.wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;
  padding: 32px 0;
}

@media (max-width: @breakpoint-md) {
  .wrap {
    justify-content: flex-start;
  }
}
