.mathRoot {
  cursor: pointer;
  min-height: 24px;
  padding: 8px;
  box-sizing: border-box;
}

.mathPreview {
  min-height: 1em;
}

.mathPlaceholder {
  color: #aaa;
  font-style: italic;
}

.mathInputWrap {
  width: 100%;
}

.mathInput {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
}
