.toolbarPopover {
  position: fixed;
  z-index: 40;
  transform: translate(-50%, -100%);
}

.askAiBtn {
  align-self: center;
  margin-left: var(--ant-margin-xs);
  margin-right: var(--ant-margin-xs);
  margin-top: var(--ant-margin-xss);
  margin-bottom: var(--ant-margin-xss);
}
